﻿@using DB.Database
@model Data.Models.HomeViewModels

@{ 
    string selectedArea = "";
    string selectedLoc = "";
}

<main class="container row">
    <aside class="col-xs-2 home-aside">
        <div class="home-select-section">
            <h3>Filter By</h3>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "areaform" }))
            {

                @Html.AntiForgeryToken()
                if (Model.AreaList.Any())
                {
                    selectedArea = Model.SelectedArea == null ?
                        Model.AreaList.First().ShortName : Model.SelectedArea;
                    <div class="form-group">
                        @Html.LabelFor(model => model.SelectedArea)
                        @Html.DropDownListFor(
                            m => m.SelectedArea,
                            new SelectList(Model.AreaList, "ShortName", "Name", selectedArea),
                            new { @class = "form-control", @onchange = "document.areaform.submit()" }
                        )
                    </div>
                }
            }
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "locform" }))
            {
                @Html.AntiForgeryToken()
                if (Model.LocationList.Any())
                {
                    selectedArea = Model.SelectedArea == null ?
                        Model.AreaList.First().ShortName : Model.SelectedArea;

                    selectedLoc = Model.SelectedLocation == null ?
                        Model.LocationList.First().ShortName : Model.SelectedLocation;

                    @Html.HiddenFor(m => selectedArea)
                    <div class="form-group">
                        @Html.LabelFor(model => model.SelectedLocation)
                        @Html.DropDownListFor(
                            m => m.SelectedLocation,
                            new SelectList(Model.LocationList, "ShortName", "Name", selectedLoc),
                            new { @class = "form-control", @onchange = "document.locform.submit()" }
                        )
                    </div>
                }
            }
        </div>
        <a class="btn btn-primary btn home-create-btn" href="@Url.Action("Create", "Post", new { area = selectedArea, locale = selectedLoc })" role="button">Create New Post</a>
    </aside>
    <section class="col-xs-10 home-content">
        <h2>
            @if (selectedLoc != null)
            {
                @Model.LocationList.Where(loc => loc.ShortName == selectedLoc).First().Name
                <span>,</span>
            }
            @Model.AreaList.Where(area => area.ShortName == selectedArea).First().Name

        </h2>
        <div class="home-category-section">
            @foreach (var category in Model.CategoryList)
            {
                <div class="home-category-block">
                    <h4>
                        @Html.ActionLink(category.Name, "ListAll", "Post", new {
                            area = selectedArea,
                            locale = selectedLoc,
                            category = category.ShortName
                        }, null)
                    </h4>
                    <ul class="home-subcategory-list">
                        @foreach (var subcat in category.Subcategories.Where(subcat => !subcat.isHidden))
                        {
                        <li>
                            @Html.ActionLink(subcat.Name, "ListAll", "Post", new {
                                area = selectedArea,
                                locale = selectedLoc,
                                category = category.ShortName,
                                subcategory = subcat.ShortName
                            }, null)
                        </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </section>
</main>

