﻿@using Microsoft.AspNet.Identity;
@using DB.Database
@{
    var userId = User.Identity.GetUserId();
    var user_svc = new UserDbService();
}

@if (userId != null && user_svc.GetUser(userId).IsAdmin)
{
    <div class="btn-group admin-btn">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administration <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("User Administration", "List", "Account")</li>
            <li>@Html.ActionLink("Category Administration", "List", "Category")</li>
            <li>@Html.ActionLink("Area Administration", "List", "Area")</li>
        </ul>
    </div>
}
