﻿
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "anti-forgery-form" }))
            {
                @Html.AntiForgeryToken()
            }
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="confirm-btn" type="button" class="btn btn-primary">
                    Hide
                </button>
            </div>
        </div>
    </div>
</div>
