﻿@using PagedList.Mvc
@model Data.Models.CategoriesViewModels
@{
    ViewBag.Title = "Posts";
}


<div id="postlist">
    <table class="table">
        @foreach (var item in Model.PostList)
        {
            <tr>
                <td>
                    <text class="text-muted">@item.Timestamp.ToShortDateString()</text>   @Html.ActionLink(item.Title, "Details", "Post", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </table>

    @Html.PagedListPager(
        Model.PostList,
        page => Url.Action("ListAll", "Post", new { category = Model.SelectedCategory, subcategory = Model.SelectedSubcategory, area = Model.SelectedArea, locale = Model.SelectedLocation, page =page }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new PagedListRenderOptions
            {
                Display = PagedListDisplayMode.IfNeeded,
                MaximumPageNumbersToDisplay = 5,
            },
            new AjaxOptions()
            {
                HttpMethod = "GET",
                UpdateTargetId = "postlist"
            }
        )
    )
</div>



