﻿@model Data.Models.Subcategory

<h3 class="text-center">Are you sure you want to delete this subcategory?</h3>
<div style="margin: 20px 50px;">
    <dl class="row">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
    </dl>
</div>
