﻿@model IEnumerable<Data.Models.Subcategory>

@{
    ViewBag.Title = "Subcategory List";
}

<h2>Subcategories of @ViewBag.categoryName</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table" id="list">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.ActionLink("Modify", "Modify", new { catId = item.CategoryId, id = item.Id }) |
                <!-- Button trigger modal -->
                <button style="padding: 0" class="btn-link" data-toggle="modal" data-target="#myModal" data-url="@Url.Action("Hide", new { catId = item.CategoryId, id = item.Id })">
                    Hide
                </button>
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to Category List", "List", "Category")
</div>

@Html.Partial("~/Views/Shared/_Modal.cshtml")

@section scripts {
    <script src="~/Scripts/modal.confirm.js"></script>
}

