﻿@model IEnumerable<Data.Models.Category>
@{
    ViewBag.Title = "Category List";
}

<h2>Category List</h2>
<p>
    @Html.ActionLink("Add New Category", "Add")
</p>
<table class="table" id="list">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.ActionLink("Modify", "Modify", new { id = item.Id }) |
                <!-- Button trigger modal -->
                <button style="padding: 0" class="btn-link" data-toggle="modal" data-target="#myModal" data-url="@Url.Action("Hide", new { id = item.Id})">
                    Hide
                </button>
                |@Html.ActionLink("Subcategories", "List", "Subcategory", new { catId = item.Id }, null)
            </td>
        </tr>
    }
</table>

@Html.Partial("~/Views/Shared/_Modal.cshtml")

@section scripts {
    <script src="~/Scripts/modal.confirm.js"></script>
}

