﻿@model IEnumerable<Data.Models.Area>
@{
    ViewBag.Title = "Area List";
}

<h2>Area List</h2>

<p>
    @Html.ActionLink("Add New Area", "Add")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>

        <td>
            @Html.ActionLink("Modify", "Modify", new { id = item.Id }) |
            @Html.ActionLink("Hide", "Hide", new { id = item.Id }) |
            @Html.ActionLink("Locales", "List", "Location", new { areaid = item.Id }, null)
        </td>
    </tr>
    }

</table>
