﻿
/* Chat chatcontainers */
.chatcontainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

/* Darker chat chatcontainer */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.chatcontainer::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.chatcontainer .user {
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}
