﻿.home-aside {
    margin-top: 10px;
}

.home-select-section h3 {
    font-weight: bold;
    margin-bottom: 37px;
}

.home-select-section label {
    color: #696969;
    font-size: 1.8rem;
}

/*.home-admin-jumbotron {
            margin-top: 24px;
            height: 200px;
            padding: 20px;
            background-color: rgba(128, 128, 128, 0.1);
            border-radius: 5px;
        }*/

.home-category-section {
    margin-top: 30px;
    columns: 3 auto;
    column-gap: 3rem;
}

.home-content h2 {
    padding: 20px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 5px;
}

.home-category-block {
    break-inside: avoid;
    margin-bottom: 20px;
}

.home-subcategory-list {
    padding-left: 8px;
    list-style: none;
    columns: 2 auto;
}

.home-subcategory-list li {
    padding: 2px;
    break-inside: avoid;
}

.home-category-block h4 {
    padding: 8px;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 5px;
}

.home-category-block:first-child h4 {
    margin-top: 0;
}

.home-create-btn {
    margin-top: 20px;
    width: 100%;
}
