﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
    min-height: 100vh;
    padding-bottom: 40px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Put the footer at the bottom of the screen*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.2);
    color: #333333;
}

footer > p {
    line-height: 40px;
    margin: 0;
    text-align: center;
}

.admin-btn {
    margin-top: 8px;
    margin-left: 10px;
}