﻿@model Data.Models.Post
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Create";
}
<h2>Create Post</h2>
<div>
    @Html.ActionLink("Back to List", "List", new { user_id = User.Identity.GetUserId() })
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal row">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-xs-4">
            <div class="form-group">
                @Html.LabelFor(model => model.CategoryId, "Category", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(
                        m => m.CategoryId,
                        new SelectList(ViewBag.categoryList, "Id", "Name"),
                        new { @class = "form-control", @onchange = "dropdownHelper.getSubList.call(this, 'Category', 'GetSubList', 'SubcategoryId')" }
                    )
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SubcategoryId, "Subcategory", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(
                        m => m.SubcategoryId,
                        new SelectList(ViewBag.subcatList, "Id", "Name"),
                        new { @class = "form-control" }
                    )
                    @Html.ValidationMessageFor(model => model.SubcategoryId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Area", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(
                        m => m.AreaId,
                        new SelectList(ViewBag.areaList, "Id", "Name", ViewBag.selectedAreaId),
                        new { @class = "form-control", @onchange = "dropdownHelper.getSubList.call(this, 'Area', 'GetSubList', 'LocationId')" }
                    )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LocationId, "Locale", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(
                        m => m.LocationId,
                        new SelectList(ViewBag.localeList, "Id", "Name", ViewBag.selectedLocId),
                        new { @class = "form-control" }
                    )
                    @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <input type="submit" value="Create" class="btn btn-primary" style="width: 200px;height: 40px;margin-top: 50px;" />
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", style = "max-width: 100%;" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Body, new { @class = "form-control", rows = 20, style = "max-width: 100%; resize: vertical;" })
                    @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

}
@section Scripts {
    <script>
        const dropdownHelper = (function () {
            let _context;

            const cleanOptions = () => $(_context).children().remove()

            const handleResponse = data => {
                cleanOptions()
                data.forEach(subItem => {
                    $(_context).append($("<option></option>").attr("value", subItem.Id).text(subItem.Name))
                })
            }

            const getSubList = function (controller, action, subcatDropdownId) {
                _context = document.getElementById(subcatDropdownId)
                const url = `/${controller}/${action}/${this.value}`
                $.ajax({
                    url: url,
                    success: handleResponse,
                })
            }
            return {
                getSubList,
            }
        })()
    </script>
}
