﻿@model Data.Models.Post
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Delete";
}
<h2>Delete Post</h2>
<h3>Are you sure you want to delete this post?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "List", new { user_id = User.Identity.GetUserId() })
        </div>
    }
</div>
