﻿@model Data.Models.Post
@using Microsoft.AspNet.Identity;
@{
    var user_id = User.Identity.GetUserId();
}


@{
    ViewBag.Title = "Details";
}

<div class="row">
    <h2>Post Details</h2>
    <h5>@ViewBag.area > @ViewBag.locale > @ViewBag.category > @ViewBag.subcategory</h5>
    <div>
        @Html.ActionLink("Back to List", "List", new { user_id = User.Identity.GetUserId() })
    </div>
    <div>
        <div>
            <h2>@Html.DisplayFor(model => model.Title)</h2>
        </div>
        <hr />
        @if (User.Identity.GetUserId() != null)
        {
            @Html.ActionLink("Reply", "PreCreate", "Message", new { post_id = Model.Id, receiver_id = Model.AuthorId, user_id = user_id }, htmlAttributes: new { role = "button", @class = "btn btn-primary", @style = "margin-bottom: 10px;" })
        }

        <div>
            @Html.DisplayFor(model => model.Body)
        </div>
    </div>
    <h6>Username: @ViewBag.username &nbsp&nbsp&nbsp&nbsp&nbsp Time: @Model.Timestamp</h6>

</div>



