﻿@model IEnumerable<Data.Models.Post>

@{
    ViewBag.Title = "List";
}

<h2>History Posts</h2>

<p>

    @if (ViewBag.isForAdmin == null || !ViewBag.isForAdmin)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subcategory.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expiration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expiration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (ViewBag.isForAdmin != null && ViewBag.isForAdmin)
                {
                    <text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </text>
                } else {
                    <text>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </text>
                }
            </td>
        </tr>
    }

</table>
