﻿@using PagedList.Mvc
@model Data.Models.CategoriesViewModels
@{
    ViewBag.Title = "ListAll";
}
<h2>Posts List</h2>
<div class="categories-select-section">
    @if (Model.AreaList.Any())
    {
        <div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "areaform" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.SelectedCategory)
                @Html.HiddenFor(m => m.SelectedSubcategory)
                @Html.DropDownListFor(
                    m => m.SelectedArea,
                    new SelectList(Model.AreaList, "ShortName", "Name", Model.SelectedArea),
                    new { @class = "form-control", @onchange = "document.areaform.submit()" }
                )
            }
        </div>

    }
    @if (Model.LocationList.Any())
    {
        <div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "locform" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.SelectedArea)
                @Html.HiddenFor(m => m.SelectedCategory)
                @Html.HiddenFor(m => m.SelectedSubcategory)
                @Html.DropDownListFor(
                    m => m.SelectedLocation,
                    new SelectList(Model.LocationList, "ShortName", "Name", Model.SelectedLocation),
                    new { @class = "form-control", @onchange = "document.locform.submit()" }
                )
            }
        </div>
    }
    @if (Model.CategoryList.Any())
    {
        <div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "catform" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.SelectedArea)
                @Html.HiddenFor(m => m.SelectedLocation)
                @Html.DropDownListFor(
                    m => m.SelectedCategory,
                    new SelectList(Model.CategoryList, "ShortName", "Name", Model.SelectedCategory),
                    new { @class = "form-control", @onchange = "document.catform.submit()" }
                )
            }
        </div>
    }
    @if (Model.SubcategoryList.Any())
    {
        <div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "subcatform" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.SelectedArea)
                @Html.HiddenFor(m => m.SelectedLocation)
                @Html.HiddenFor(m => m.SelectedCategory)
                @Html.DropDownListFor(
                    m => m.SelectedSubcategory,
                    new SelectList(Model.SubcategoryList, "ShortName", "Name", Model.SelectedSubcategory),
                    new { @class = "form-control", @onchange = "document.subcatform.submit()" }
                )
            }
        </div>
    }
</div>

<div class="categories-page-list">
    @{
        Html.RenderPartial("Posts", Model);
    }
</div>


@section Styles {
    <style type="text/css">

        .categories-select-section {
            margin-top: 30px;
        }

        .categories-select-section::after {
            content: "";
            display: block;
            clear: left;
        }

        .categories-select-section div {
            float: left;
            margin-right: 10px;
        }

        .categories-select-section form {
            width: 200px;
        }

        .categories-page-list {
            padding: 40px 0;
        }

        .pagination-container {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
}

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
