﻿@model PagedList.IPagedList<Data.Models.Post>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "List";
}

<h2>All Posts</h2>
<p>Hint: Use search box to search message, post and users information.</p>


@using (Html.BeginForm("List", "Post", FormMethod.Get))
{
    <p>
        Search by post, user and content: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />


    </p>
}

<p>

    @if (ViewBag.isForAdmin == null || !ViewBag.isForAdmin)
    {
        @Html.ActionLink("Create New Post", "Create")
    }
</p>


<table class="table">
    <tr>
        <th>
            Category
        </th>
        <th>
            Subcategory
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Post.Title)*@
            @Html.ActionLink("Title", "List", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Receiver.Email)*@
            Expiration
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Timestamp)*@
            @Html.ActionLink("Date", "List", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.OrderId)
                Message Order
            </th>*@
        <th>
            Expired
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategory.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expiration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsExpire)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>*@
            <td>
                @if (ViewBag.isForAdmin != null && ViewBag.isForAdmin)
                {

                    <text>
                        @if (!item.IsExpire)
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        }

                        @Html.ActionLink("Details", "DetailsForPost", new { id = item.Id })
                    </text>
                }
                else
                {
                    <text>
                        @Html.ActionLink("Details", "DetailsForPost", new { id = item.Id }) |
                    </text>
                    <text>
                        @if (!item.IsExpire)
                        {
                            <text>
                                @Html.ActionLink("Modify", "Modify", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </text>
                        }
                    </text>
                }
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("List",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))