﻿@model Data.Models.Message
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Create";
    var authorId = User.Identity.GetUserId();
}

<h2>Reply</h2>
<div>
    @Html.ActionLink("Back to List", "ListAll","Post")
</div>

@using (Html.BeginForm("Create","Message"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("Timestamp", DateTime.Now)
    @Html.Hidden("IsRead", false)
    @Html.Hidden("ReceiverId", ViewBag.Receiver as String)
    @Html.Hidden("PostId", ViewBag.PostId as String)
    @Html.Hidden("OrderId", 0)
    @Html.Hidden("AuthorId", authorId)

    <div class="col-xs-8">
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", style = "max-width: 100%;" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Body, new { @class = "form-control", rows = 20, style = "max-width: 100%; resize: vertical;" })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-4">
                <input type="submit" value="Reply" class="btn btn-primary" style="width: 200px;height: 40px;margin-top: 50px;" />
            </div>
        </div>
    </div>

    
</div>
}


