﻿@model PagedList.IPagedList<Data.Models.Message>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Chat.css" rel="stylesheet" type="text/css" />
@using Microsoft.AspNet.Identity;
@{
    var user_id = User.Identity.GetUserId();
}
@{
    ViewBag.Title = "List";
}
<h2>Message Dialog</h2>

<p>
    @Html.ActionLink("Back to Inbox", "ListReceived")
</p>
<p>
    @Html.ActionLink("Create Many Messages(Test))", "CreateManyMessages")
</p>

@if (ViewBag.Post != null && !ViewBag.Post.IsHidden)
{
    <th>
        @*@Html.DisplayNameFor(model => model.Post.Title)*@
        @Html.ActionLink("See this Post", "Details", "Post", new { id = (int)ViewBag.PostId }, null)
    </th>
}


@foreach (var item in Model)
{
    <div class="row" style="margin-left: 2px;">
        @if (item.AuthorId == user_id)
        {
            var time = item.Timestamp.ToString("h:mm tt MM/dd/yyyy");
            <div class="chatcontainer col-xs-5 col-xs-offset-7">
                <span class="time-right">You</span>
                @*<span class="time-left">@Html.DisplayFor(modelItem => item.Title)</span>*@
                <div class="clearfix"></div>
                <p>@Html.DisplayFor(modelItem => item.Body)</p>
                <span class="time-right"> @Html.DisplayFor(modelItem => time)</span>
            </div>

        }
        else
        {
            var time = item.Timestamp.ToString("h:mm tt MM/dd/yyyy");
            <div class="chatcontainer col-xs-5">
                <p class="time-left">@Html.DisplayFor(modelItem => item.Author.Email)</p>
                @*<span class="time-left">@Html.DisplayFor(modelItem => item.Author.Email)</span>*@
                @*<span class="time-right">@Html.DisplayFor(modelItem => item.Title)</span>*@
                <div class="clearfix"></div>
                <p class="message-content">@Html.DisplayFor(modelItem => item.Body)</p>
                <span class="time-left"> @Html.DisplayFor(modelItem => time)</span>
            </div>

        }
    </div>
}
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Expand",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
