﻿@*@model IEnumerable<Data.Models.Message>*@
@model PagedList.IPagedList<Data.Models.Message>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "List";
}

<h2>Received Messages</h2>
<p>Hint: Use search box to search message, post and users information. Click Expand to see only dialog context and the message would be automatically read.</p>

<p>
    @Html.ActionLink("Mark All as Read", "MarkAllRead", new { is_all=true }) 
</p>



@using (Html.BeginForm("List", "Message", FormMethod.Get))
{
    <p>
        Search by post, user and content: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />


    </p>
}


<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Author.Email)*@
            Sender
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Post.Title)*@
            @Html.ActionLink("Post Title", "List", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Timestamp)*@
            @Html.ActionLink("Date", "List", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Title)*@
            Message Title
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Body)*@
            Message Body
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.IsRead)*@
            Message Status
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.OrderId)
                Message Order
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>*@
            <td>
                @Html.ActionLink("Expand", "Expand", new { message_id = item.Id }) 
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ListReceived",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))