﻿@model Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}

<h2>Account Home Page</h2>

<div>
    <h4>Hello @Html.DisplayFor(model => model.UserName)! Your Account Details!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>

<div>
    <h4>Account Privileges</h4>
        <b>Posts:</b>
    <p>
        @Html.ActionLink(linkText: "My Posts", actionName: "List", controllerName: "Post", routeValues: new { user_id = Model.Id }, htmlAttributes: null) |
        @Html.ActionLink(linkText: "Create Many Posts", actionName: "CreatePosts", controllerName: "Post", routeValues: new { n = 50 }, htmlAttributes: null)
    </p>
        <b>Messages:</b>
    <p>
        @Html.ActionLink(linkText: "Sent", actionName: "ListSent", controllerName: "Message", routeValues: new { user_id = Model.Id }, htmlAttributes: null) |
        @Html.ActionLink(linkText: "Unread", actionName: "ListUnread", controllerName: "Message", routeValues: new { user_id = Model.Id }, htmlAttributes: null) |
        @Html.ActionLink(linkText: "Inbox", actionName: "ListReceived", controllerName: "Message", routeValues: new { user_id = Model.Id }, htmlAttributes: null) 
    </p>
    @if (Model.IsAdmin)
    {
        <b>Administration:</b>
        <p>
            @Html.ActionLink("Category", "List", "Category") |
            @Html.ActionLink("User", "List", "Account") |
            @Html.ActionLink("Area", "List", "Area")
        </p>
    }
</div>
