﻿@model IEnumerable<Models.ApplicationUser>
@{
    ViewBag.Title = "List";
}
<h2>User List</h2>
<table class="table">
    <tr>
        <th>
            Role
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @if (!item.IsAdmin)
            {
                <td>
                    Ordinary
                </td>
            }
            else
            {

                <td>
                    Administrator
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @if (!item.IsAdmin)
                {
                    <text>
                        @Html.ActionLink("Promote to Administrator", "PromoteToAdmin", new { user_id = item.Id }) |
                        @Html.ActionLink(linkText: "Posts", actionName: "List", controllerName: "Post", routeValues: new { user_id = item.Id }, htmlAttributes: null)
                    </text>
                }
                else
                {
                    <text>
                        @Html.ActionLink("Demote to Ordinary", "DemoteToOrdinary", new { user_id = item.Id }) |
                        @Html.ActionLink(linkText: "Posts", actionName: "List", controllerName: "Post", routeValues: new { user_id = item.Id }, htmlAttributes: null)
                    </text>
                }
            </td>
        </tr>
    }
</table>


